<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Soundtraks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C18D07911B5B2F5E001C1A27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C18D07A81B5B2F5E001C1A27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C18D07B31B5B2F5E001C1A27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
